* {box-sizing: border-box;}

.contaboximgfade {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.imgfade {
  display: block;
  width: 100%;
  height: 200px;
}

.overlayimg {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.contaboximgfade:hover .overlayimg {
  opacity: 1;
}
.cardpageimg:hover{
			/*border-top: 5px solid black;
			border-bottom:  5px solid black;*/
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    #btngotup {
     display:none;
     background-repeat:no-repeat;
     font-size:20px;
     color:black;
     cursor:pointer;
     position:fixed;
     bottom:10px;
     right:10px;
     z-index:2;
   }



