* {box-sizing: border-box;}

.contaboximgfade {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.imgfade {
  display: block;
  width: 100%;
  height: 200px;
}

.overlayimg {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.contaboximgfade:hover .overlayimg {
  opacity: 1;
}
.cardpageimg:hover{
			/*border-top: 5px solid black;
			border-bottom:  5px solid black;*/
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    #btngotup {
     display:none;
     background-repeat:no-repeat;
     font-size:20px;
     color:black;
     cursor:pointer;
     position:fixed;
     bottom:10px;
     right:10px;
     z-index:2;
   }


    #boxcolsservices >.col:hover {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        cursor: pointer;
    }
section .redes-sociales {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 5px;
      flex-wrap: wrap;
    }

    section .redes-sociales a {
      display: block;
      width: 40px;
      height: 40px;
      background: #000;
      color: #fff;
      margin:10px;
      text-align: center;
      border-radius: 100px;
      transition: .3s ease all;
    }

    section .redes-sociales .twitter {background: #1da1f2;}
    section .redes-sociales .facebook {background: #3b5998;}
    section .redes-sociales .instagram {background: #c13584;}

    section .redes-sociales a i {
      font-size: 20px;
      line-height: 40px;
    }

    section .contenedor-icono:hover a {
      animation: icono .5s ease;
    }

    @keyframes icono {
      from {
        transform: rotate3d(0,0,0,0);
      }
      to {
        transform: rotate3d(0,1,0, 360deg);
      }
    }